{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}树莓派-中继器控制{% endblock %}
{% block content %}

<form class="form-horizontal form-well" method="post">
    {{form.hidden_tag()}}
    <br>
    <br>
    <div class="form-group">
        {{ form.minute_open.label(class="col-md-5 control-label")}}<div class="col-md-2">{{ form.minute_open(class="form-control") }}</div>
    </div>
    <div class="form-group">
        {{ form.date_open.label(class="col-md-5 control-label")}}<div class="col-md-2">{{ form.date_open(class="form-control") }}</div>
    </div>
        <div class="col-md-offset-5 col-md-7">{{form.appointment_opening(class="btn btn-defaut")}}</div>
    <br>
    <br>
    <hr style="width:50%;" \>
    <br>
    <div class="form-group">
        {{ form.minute_close.label(class="col-md-5 control-label")}}<div class="col-md-2">{{ form.minute_close(class="form-control") }}</div>
    </div>
    <div class="form-group">
        {{ form.date_close.label(class="col-md-5 control-label")}}<div class="col-md-2">{{ form.date_close(class="form-control") }}</div>
    </div>
        <div class="col-md-offset-5 col-md-7">{{form.appointment_closing(class="btn btn-defaut")}}</div>
    <br>
    <br>
    <hr style="width:50%;" \>
    <br>
    <div class="form-group">
        {{ form.minute_loop_open.label(class="col-md-5 control-label")}}<div class="col-md-2">{{ form.minute_loop_open(class="form-control") }}</div>
    </div>
    <div class="form-group">
        {{ form.minute_loop_close.label(class="col-md-5 control-label")}}<div class="col-md-2">{{ form.minute_loop_close(class="form-control") }}</div>
    </div>
        <div class="col-md-offset-5 col-md-7">{{form.loop(class="btn btn-defaut")}}</div>
    <br>
    <br>
    <hr style="width:50%;" \>
    <br>
    <div class="form-group">
    <div class="col-md-offset-5 col-md-7">{{form.on(class="btn btn-defaut")}}{{form.off(class="btn btn-defaut col-md-offset-1")}}</div>
    </div>
</form>
{% endblock %}
